div.page {
    opacity: 0;
    display: none;
    max-width: 1080px !important;
}

div.page {
    transition: opacity .5s ease-out;
}

.show {
    display: block !important;
    opacity: 1 !important;
}

div.page table {
    width: 100%;
    max-width: 1080px !important;
}

div.page table td {
    width: 1%;
}

div.page table input {
    max-width: 150px;
}

div.form {
    text-align: right;
    padding: 0px;
    display: none;
}

.refresh-button {
    float: right;
}

div.progress-bar {
    /*display: none;*/
    opacity: 0;
    width: 100%;
}

div.book-no-bought *, div.unique-book * {
    text-align: center;
}
