div.page {
  opacity: 0;
  display: none;
  max-width: 1080px !important;
}

div.page {
  transition: opacity .5s ease-out;
  transition: clip .5s ease-out;
  clip: rect(0px, 0px, 0px, 0px);
}

.show {
  display: block !important;
  opacity: 1 !important;
  clip: rect(0px, 1000px, 1000px, 0px) !important;
}

div.page table {
  width: 100%;
}

div.form {
  text-align: right;
  padding: 0px;
  display: none;
}

.refresh-button {
  float: right;
}

div.progress-bar {
  display: none;
  width: 100%;
}
